
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


header {
  background-color: #136c72;
  padding: .5rem 0;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.container {
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_list {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
}

.nav_list_primary {
  margin: 0 auto;
}

.nav__item {
  color: #fff;
  list-style-type: none;
}

.nav__item a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
}

.nav__btn {
  border-radius: 20px;
  background: #fff;
  padding: .2rem 2rem;
}

.nav__btn a {
  color: #136c72;
  font-weight: 600;
}

body {
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

.displayWrapper {
  background-color: #23424A;
  color: #fff;
  padding: 100px 0;
}

.displayHeader {
  /* max-width: 1100px; */
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  
}

.texts {
  width: 60%;
  margin: 0;
}

.hero-img {
  width: 35%;
}


h1 {
  margin: 0;
  font-size: 2.5rem;
}

p {
  margin-bottom: 2rem;
}

img {
  max-width: 100%;
}

.btn {
  display: inline-block;
  background-color: #38CFD9;
  padding: .6rem 2rem;
  color: #000;
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: 900;
  border-radius: 2rem;
}

.btn:focus, 
.btn:hover {
  opacity: .75;
}

.card-area {
  border: 2px solid #23424A;
  padding: 3rem 0;
  font: Roboto Black;
  font-size: 1rem;
}

.card-area h2 {
  color: #87629A;
}

.card-area p {
  color: #3A3A3A;
}

.card_container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  width: 80%;
  margin: 0 auto;
}

.card_wrapper {
  background-color: #136C72;
}

.card h2, .card p {
  color: #fff;
  padding: 0 2rem;
}

.left-card-area {
  text-align: justify;
}

.left-card-area h2 {
  color: #136C72;
}

.card {
  width: 100%;
  text-align: center;
  text-justify: inter-word;
}

.card-area2 {
  font: Roboto Black;
  font-size: 1rem;
  background-color: #136C72;
  color: #fff;
  padding: 2rem 0;
}

@media (max-width: 800px) {
  .displayHeader {
    /* display: block; */
    flex-wrap: wrap;
  }

  .texts,
  .hero-img {
    width: 100%;
  }

  .imgg {
    width: 100%;
    margin-top: 2rem;
  }

  .card_container {
    flex-wrap: wrap;
  }
}